@import "tailwindcss";

@theme {
  --font-sans: "Arial", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.debug {
  border: 1px solid red;
}

.outer-container {
  padding: 4em;
}

/* Modern Table Styles */
.models-table {
  width: 100%;
  margin: 1rem 0;
}

