@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Arial", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.shiki {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem; /* Adjust the value as needed */
  /* Optional, for better display */
  overflow-x: auto;
  border-radius: 0.5rem;
}

.debug {
  border: 1px solid red;
}

.outer-container {
  padding: 4em;
}

/* Modern Table Styles */
.models-table {
  width: 100%;
  margin: 1rem 0;
}

